
<%= form_with model: @trip do |form| %>
  <% if @trip.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this Trip from being saved:</h2>

      <ul>
        <% @trip.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :ticket_price %><br>
    <%= form.number_field :ticket_price,{class: 'form-control'} %>
  </div>

  <div>
    <%= form.label :date %><br>
    <%= form.date_field :date,{class: 'form-control'} %>
  </div>

  <div>
    <%= form.label :time %><br>
    <%= form.time_field :time,value: @trip.time.strftime('%H:%M'), step: 1,class: 'form-control' %>
  </div>

  <div>
    <%= form.label :bus %><br>
    <%= form.select :bus_id,Bus.all.map{|x| [x.name,x.id]},{},{class: 'form-control'} %>
  </div>


  <div>
    <%= form.label :route %><br>
    <%= form.select :route_id,Route.all.map{|x| [x.getFullRoute,x.id]},{},{class: 'form-control'} %>
  </div>

  
<br>
  <div>
    <%= form.submit "Add Trip",{class: "btn btn-primary" } %>
  </div>
<% end %>