<h1>All Trips</h1>

<nav>
 <% if can? :manage, @trips %>
  <%= link_to "Add Trips", new_trip_path%>
 <% end %>

</nav>
<br>

<table class="table table-striped">
 <thead>
<tr>
<th scope="col">#</th>
<th scope="col">Ticket Price</th>
<th scope="col">Date</th>
<th scope="col">Time</th>
<th scope="col">Bus</th>
<th scope="col">Route</th>
<% if can? :manage, @trips %>
  <th scope="col" colspan=2>Action</th>
 <% end %>

</tr>
 </thead>
 <tbody>
<% for trip in @trips  do%>
<tr>
    <td><%=trip&.id|| "N/A"%></td>
    <td><%=trip&.ticket_price|| "N/A"%></td>
    <td><%=trip&.date|| "N/A"%></td>
    <td><%=trip&.time.strftime("%I:%M %P")|| "N/A"%></td>
    <td><%=trip&.bus&.name || "N/A"%></td>
    <td><%=trip&.route&.getFullRoute || "N/A"%></td>

<% if can? :manage, @trips %>
      <td><%= link_to "Edit", edit_trip_path(trip) %></td>
      <td><%= link_to "Delete", trip_path(trip),data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  }%></td>
<% end %>
</tr>
<%end%>
<tbody>
</table>
