<%= form_with model: @user do |form| %>
  <% if @user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this Bus from being saved:</h2>

      <ul>
        <% @user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


    <p>
    <%= form.label :first_name %><br>
    <%= form.text_field :first_name %>
    </p>
    <p>
    <%= form.label :last_name %><br>
    <%= form.text_field :last_name %>
    </p>
    <p>
    <%= form.label :email %><br>
    <%= form.text_field :email %>
    </p>
    
    <p>
    <%= form.label :user_name %><br>
    <%= form.text_field :user_name %>
    </p>
    
    <p>
    <%= form.label :password %><br>
    <%= form.password_field :password %>
    </p>

    <p>
    <%= form.label :phone %><br>
    <%= form.text_field :phone %>
    </p>

  <div>
    <%= form.submit %>
  </div>
<% end %>