<h1>Hello <%=@user.first_name%></h1>

<h5>Tickets</h5>
<hr>

<table border="1">
<tr>
<th  style="padding:5px; text-align:center">ID</th>
<th  style="padding:5px; text-align:center">Trip Date</th>
<th  style="padding:5px; text-align:center">Trip Time</th>
<th  style="padding:5px; text-align:center">Route</th>
<th  style="padding:5px; text-align:center">BUS</th>
<th  style="padding:5px; text-align:center">Seats</th>
<th  style="padding:5px; text-align:center">Price</th>
<th  style="padding:5px; text-align:center">Total Price</th>
    <% for ticket in @tickets  do%>
<tr>
    <td style="padding:5px; text-align:center"><%=ticket.id%></td>
    <td style="padding:5px; text-align:center"><%=ticket.trip.date%></td>
    <td style="padding:5px; text-align:center"><%=ticket.trip.time.strftime("%I:%M%p")%></td>
    <td style="padding:5px; text-align:center"><%=ticket.trip.route.getFullRoute%></td>
    <td style="padding:5px; text-align:center"><%=ticket.trip.bus.name%></td>
    <td style="padding:5px; text-align:center"><%=ticket.seats.map {|seat| seat.number }%></td>
    <td style="padding:5px; text-align:center"><%=ticket.trip.ticket_price%></td>
    <td style="padding:5px; text-align:center"><%=ticket.total_price%></td>
</tr>
 <% end %>
</table>