<h1>Hello <%=@user.first_name%></h1>

<h5>Tickets</h5>
<hr>

<table class="table table-striped">

 <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Trip Date</th>
      <th scope="col">Trip Time</th>
      <th scope="col">Route</th>
      <th scope="col">Bus</th>
      <th scope="col">Seats</th>
      <th scope="col">Price</th>
      <th >Total Price</th>

    </tr>
  </thead>

<tbody>
<% for ticket in @tickets  do%>
<tr>
    <td><%=ticket.id%></td>
    <td><%=ticket.trip.date%></td>
    <td><%=ticket.trip.time.strftime("%I:%M%p")%></td>
    <td><%=ticket.trip.route.getFullRoute%></td>
    <td><%=ticket.trip.bus.name%></td>
    <td><%=ticket.seats.map {|seat| seat.number }%></td>
    <td><%=ticket.trip.ticket_price%></td>
    <td><%=ticket.total_price%></td>
</tr>
 <% end %>
 </tbody>
</table>