<%= form_with url:booking_path ,method: :get do |f| %>
  <div>
     <%= f.label :origin %><br>
    <%= f.select :origin, options_from_collection_for_select(@origins, "origin", "origin", params[:origin]),{prompt: "- Please select -"},{onchange: "this.form.submit()"} %>
  </div>
  <div>
    <%= f.label :destination %><br>
      <%= f.select :destination, options_from_collection_for_select(@destinations, "destination", "destination", params[:destination]),{prompt: "- Please select -"},{onchange: "this.form.submit()"} %>
  </div>
<div>
    <%= f.label :date %><br>
    <%= f.date_field :date,{ :value => Time.now.strftime(params[:date]|| Date.today.to_s) ,onchange: "this.form.submit()"}%>
  </div>
<% end %>

<br>
<table border="1">
<tr>
<th>ID</th>
<th>Ticket Price</th>
<th>Date</th>
<th>Time</th>
<th>Bus</th>
<th>Route</th>
<th colspan=2>Action</th>


</tr>
<% for trip in @trips  do%>
<tr>
    <td><%=trip.id%></td>
    <td><%=trip.ticket_price%></td>
    <td><%=trip.date%></td>
    <td><%=trip.time.strftime("%I:%M %P")%></td>
    <td><%=trip.bus.name%></td>
    <td><%=trip.route.getFullRoute%></td>
    <td><%= link_to "Buy Ticket", seat_plan_path(trip) %></td>

</tr>
<%end%>
</table>