<h1>All Routes</h1>

<nav>
 <% if can? :manage, @rotues %>
   <%= link_to "Add Route", new_route_path%>
 <% end %>

</nav>
<br>

<table class="table table-striped">
 <thead>
<tr>
<th  scope="col">#</th>
<th  scope="col">Source</th>
<th  scope="col">Destination</th>
<% if can? :manage, @routes %>
 <th  scope="col" colspan=2>Action</th>
<% end %>
</tr>
 </thead>
 <tbody>
<% for route in @routes  do%>
<tr>
    <td><%=route.id%></td>
    <td><%=route.origin%></td>
    <td><%=route.destination%></td>
    <% if can? :manage, @routes %>
  <td><%= link_to "Edit", edit_route_path(route) %></td>
    <td><%= link_to "Delete", route_path(route),data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
        }%></td>
 <% end %>
   

</tr>
<%end%>
<tbody>
</table>