<h1>All Buses</h1>

<nav>
 <% if can? :manage, @buses %>
 <%= link_to "Add Bus", new_bus_path%>
 <% end %>

</nav>
<br>

<table class="table table-striped">
 <thead>
<tr>
<th scope="col">#</th>
<th scope="col">Name</th>
<th scope="col">Brand</th>
<th scope="col">Type</th>
<th scope="col">Capacity</th>
 <% if can? :manage, @buses %>
 <th scope="col" colspan=2>Action</th>
 <% end %>
</tr>
 </thead>
 <tbody>
<% for bus in @buses  do%>
<tr>
    <td><%=bus.id%></td>
    <td><%=bus.name%></td>
    <td><%=bus.brand%></td>
    <td><%=bus.typed%></td>
    <td><%=bus.capacity%></td>
    <% if can? :manage, @buses %>
    <td><%= link_to "Edit", edit_bus_path(bus) %></td>
    <td><%= link_to "Delete", bus_path(bus),data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  }%></td>
    <% end %>
    

</tr>
<%end%>
<tbody>
</table>